{% extends 'base.html' %}

{% block titulo %}SGAB - Página Home{% endblock %}

{% block conteudo %}

<div class="container">
    <!-- <span class="navbar-text">Página principal do sistema</span> -->
    
    <div class="row mt-3">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card border-dark">
            <div class="card-body">
              <h5 class="card-title text-center">Relatório</h5>
              <hr>
              <p class="card-text">Pedidos realizados: </p>              
              <p class="card-text">Pedidos pendentes: </p>              
              <p class="card-text">Pedidos concluídos: </p>              
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-3">
          <div class="card border-dark">
            <div class="card-body">
              <h5 class="card-title text-center">Mensagens</h5>
              <hr>
              <p>“Os problemas são oportunidades para se mostrar o que sabe”. (Duke Ellington)</p>
              <p>“Nossos fracassos, às vezes, são mais frutíferos do que os êxitos”. (Henry Ford)</p>
              <p>“Tente de novo. Fracasse de novo. Mas fracasse melhor”. (Samuel Beckett)</p>
              <p>“É costume de um tolo, quando erra, queixar-se dos outros. É costume de um sábio queixar-se de si mesmo”. (Sócrates)</p>
              <p>“O verdadeiro heroísmo consiste em persistir por mais um momento, quando tudo parece perdido”. (W. F. Grenfel)</p>
            </div>
          </div>
        </div>
      </div> 
    </div>

    
</div>

{% endblock %}