{% extends 'base.html' %}

{% block titulo %}SGAB - Página Home{% endblock %}

{% block conteudo %}

<div class="container">
    <!-- <span class="navbar-text">Página principal do sistema</span> -->
    
    <div class="row mt-3">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card border-dark">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-3">
          <div class="card border-dark">
            <div class="card-body">
              <p>MENSAGENS DO DIA</p> <br>

              <p>laksjdhf akjlhdakj ak dajhsdka skadjshd adjhaks dkasjdhajsdha efwer wwsers dfs sdfsdfsdfd</p>
              <p>laksjdhf akjlhdakj ak dajhsdka skadjshd adjhaks dkasjdhajsdha efwer wwsers dfs sdfsdfsdfd</p>
              <p>laksjdhf akjlhdakj ak dajhsdka skadjshd adjhaks dkasjdhajsdha efwer wwsers dfs sdfsdfsdfd</p>
              <p>laksjdhf akjlhdakj ak dajhsdka skadjshd adjhaks dkasjdhajsdha efwer wwsers dfs sdfsdfsdfd</p>
              <p>laksjdhf akjlhdakj ak dajhsdka skadjshd adjhaks dkasjdhajsdha efwer wwsers dfs sdfsdfsdfd</p>
            </div>
          </div>
        </div>
      </div> 
    </div>

    
</div>

{% endblock %}