{% extends 'base_admin.html' %}

{% block titulo %}Admin - Pedidos{% endblock %}

{% block conteudo %}  
  <!-- <div class="container"> -->
    
    <div class="mt-2">
      <h1><p class="text-center">PEDIDOS PENDENTES DE LIBERAÇÃO</p></h1>
    </div>

    <div class="m-3">
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for categoria, mensagem in messages %}
                  <div class="alert alert-{{ categoria }}" role="alert">
                      {% if categoria == 'success' %}
                          <i class="bi bi-emoji-sunglasses-fill"></i>
                          <b>{{ mensagem }}</b>
                      {% else %}
                          <i class="bi bi-exclamation-triangle"></i>
                          <b>{{ mensagem }}</b>
                      {% endif %}
                  </div>   
              {% endfor %}                     
          {% endif %}
      {% endwith %}
    </div>

    <div class="m-3">
      <!-- <table id="tabela-pedidos" class="table table-hover table-sm table-bordered align-middle table-striped"> -->
      <table id="tabela" class="table table-striped">
        <thead class="text-center">
          <tr class="text-center">          
              <th scope="col" width="11%">Data e Hora</th>            
              <th scope="col" width="15%">Descrição</th>            
              <th scope="col">Categoria</th>            
              <th scope="col">Qtde</th>            
              <th scope="col">Liberado</th>            
              <th scope="col" width="13%">Unidade de Saúde</th>
              <th scope="col">Justificativa</th>
              <th scope="col" width="7%">Status</th>            
              <th scope="col" width="8%">Ação</th>            
          </tr>
        </thead>
        <tbody>
          {% if pedidos != False %}        
            {% for pedido in pedidos: %}
              {% if pedido[9] == 0 %}                   
                <tr>                
                    <td> {{ pedido[1] }} </td>            
                    <td> {{ pedido[2] }} </td>
                    <td> {{ pedido[3] }} </td>
                    <td class="text-center"> {{ pedido[4] }} </td>
                    <td class="text-center"> {{ pedido[5] }} </td>
                    <td name="justificativa"> {{ pedido[6] }} </td>
                    <td> {{ pedido[7] }} </td>
  
                    {% if pedido[9] == 0 %}
                      <td class="text-secondary text-center"><b>Pendente</b></td>
                    {% elif pedido[9] == 1 %}
                      <td class="text-success text-center"><b>Concluído</b></td>
                    {% else %}
                      <td></td>
                    {% endif %}     
                    
                    <td>                                        
                        <!-- <div class="container"> -->
                          <!-- <form action="{{ url_for('admin.admin_pedidos.atender_pedido', id_pedido=pedido[0]) }}"> -->
                            <!-- <button class="btn btn-success" type="submit">Atender</button> -->
                            <a class="btn btn-success btn-sm" href="{{ url_for('admin.admin_pedidos.atender_pedido', id_pedido=pedido[0]) }}"><i class="bi bi-check2-circle"></i> Atender</a>                        
                          <!-- </form> -->
                        <!-- </div> -->
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% else %}     
            <tr>
              <td class="text-center" colspan="9">Não existem pedidos pendentes</td>
            </tr>
          {% endif %}                                 
        </tbody>
      </table>
    </div>
  <!-- </div>  -->
{% endblock %}