{% extends 'base_admin.html' %}

{% block titulo %}Admin - Pedidos{% endblock %}

{% block conteudo %}
    
    <div class="mt-2">
      <h1><p class="text-center">PEDIDOS CONCLUÍDOS</p></h1>
    </div>

    <div class="m-3">
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for categoria, mensagem in messages %}
                  <div class="alert alert-{{ categoria }}" role="alert">
                      {% if categoria == 'success' %}
                          <i class="bi bi-emoji-sunglasses-fill"></i>
                          <b>{{ mensagem }}</b>
                      {% else %}
                          <i class="bi bi-exclamation-triangle"></i>
                          <b>{{ mensagem }}</b>
                      {% endif %}
                  </div>   
              {% endfor %}                     
          {% endif %}
      {% endwith %}
    </div>

    <div class="m-3">      
      <table id="tabela" class="table table-striped">
        <thead>
          <tr>          
              <th scope="col" width="10%">Data</th>
              <th scope="col" width="10%">Hora</th>
              <th scope="col" width="20%">Descrição</th>            
              <th scope="col">Categoria</th>            
              <th scope="col">Qtde</th>            
              <th scope="col">Liberado</th>            
              <th scope="col" width="13%">Solicitante</th>
              <th scope="col">Justificativa</th>
              <th scope="col" width="10%">Conclusão</th>                          
              <th scope="col" width="9%">Ação</th>            
          </tr>
        </thead>
        <tbody>
          {% if pedidos != False %}        
            {% for pedido in pedidos: %}
              {% if pedido[10] == 1 %}                   
                <tr>                
                    <td> {{ pedido[1] }} </td>                                            
                    <td> {{ pedido[2] }} </td>                                            
                    <td> {{ pedido[3] }} </td>
                    <td> {{ pedido[4] }} </td>
                    <td class="text-center"> {{ pedido[5] }} </td>
                    <td class="text-center"> {{ pedido[6] }} </td>
                    <td name="justificativa"> {{ pedido[7] }} </td>
                    <td> {{ pedido[8] }} </td>
                    <td> {{ pedido[9] }} </td>
                    <td>
                        <a class="btn btn-success btn-sm" href="{{ url_for('admin.admin_pedidos.atender_pedido', id_pedido=pedido[0]) }}"><i class="bi bi-check2-circle"></i> Reabrir</a>                                                
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% else %}     
            <tr>
              <td class="text-center" colspan="9">Não existem pedidos pendentes</td>
            </tr>
          {% endif %}                                 
        </tbody>
      </table>
    </div>

{% endblock %}