{% extends 'base_admin.html' %}

{% block titulo %}SGAB - Pedidos{% endblock %}

{% block conteudo %}
  <div class="container">
    
    <h1><p class="text-center">UNIDADES DE SAÚDE</p></h1>
        
    <div class="container mb-2">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#unidadeModal">
        <i class="bi bi-houses"></i>
        Adicionar unidade de saúde
      </button>
      <!-- <a class="btn btn-success" href="{{url_for('admin.admin_unidades.relatorio')}}">
        <i class="bi bi-filetype-pdf"></i>
        Relatório
      </a> -->
      <button type="button" class="btn btn-success" onclick="abrirPDF('/admin/unidades/relatorio')">
        <i class="bi bi-filetype-pdf"></i>
        Gerar relatório
      </button>
    </div>    
    
    <div class="container">
      <div class="table-responsive">
        <table id="tabela" class="table table-striped">
          <thead class="text-center">
            <tr class="text-center">
              <th width="3%">ID</th>
              <th width="50%">Nome</th>              
              <th>Nome curto</th>
              <th width="8%">CNES</th>            
              <th width="8%">INE</th>                                 
              <th width="11%">Ações</th>
            </tr>
          </thead>
          <tbody>
            
            {% if unidades %}
              {% for unidade in unidades: %}
                  <tr>            
                    <td>{{ unidade[0] }}</td>
                    <td>{{ unidade[1] }}</td>
                    <td>{{ unidade[2] }}</td>
                    <td>{{ unidade[3] }}</td>
                    <td>{{ unidade[4] }}</td> 
                    <td>                                        
                      <div class="container">                          
                          <a class="btn btn-success btn-sm" href="{{ url_for('admin.admin_unidades.editar', id_unidade=unidade[0]) }}"><i class="bi bi-pencil-square"></i></a>
                          <a class="btn btn-danger btn-sm" href="{{ url_for('admin.admin_unidades.excluir', id_unidade=unidade[0]) }}"><i class="bi bi-trash3-fill"></i></a>
                      </div>
                    </td> 
                  </tr>
              {% endfor %}  
            {% else %}
              <tr>
                <!-- <td class="text-center" colspan="6">Não existem Unidades de Saúde cadastradas</td> -->
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>  
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="unidadeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    
    <div class="modal-dialog">
      
      <div class="modal-content">
        
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar unidade</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">

          <form action="{{url_for('admin.admin_unidades.inserir')}}" method="post">
            
            <div class="mb-3">
              <label for="nome" class="col-form-label">Nome:</label>
              <input type="text" name="nome" class="form-control" id="name">

              <label for="apelido" class="col-form-label">Apelido:</label>
              <input type="text" name="apelido" class="form-control" id="apelido">

              <label for="cnes" class="col-form-label">CNES:</label>
              <input type="number" name="cnes" class="form-control" id="cnes">

              <label for="ine" class="col-form-label">INE:</label>
              <input type="number" name="ine" class="form-control" id="ine">
            </div>            

            <!-- <div class="mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div> -->

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>

          </form>

        </div>
        
      </div>
    </div>
  </div> 
  
{% endblock %}