{% extends 'base_login.html' %}

{% block conteudo %}
    <form class="form" action="{{url_for('auth.login')}}" method="post">
        <div class="card" style="width: 18rem;">  
            <div class="card-header">
                Acesso ao sistema
            </div>
            <div class="card-body"></div>      
                <div class="card-top">                    
                    <p>Seja bem-vindo</p>
                </div> 
                
                <div class="card-group">
                    <label for="">Email</label>
                    <input type="email" name="email" placeholder="Digite seu e-mail" require>
                </div>   
                
                <div class="card-group">
                    <label for="">Senha</label>
                    <input type="password" name="senha" placeholder="Digite sua senha" require>
                </div> 
                
                <div class="card-group">
                    <label><input type="checkbox">Lembre-me</label>                
                </div>    
                
                <div class="card-group btn">
                    <button class="btn btn-primary" type="submit">ACESSAR</button>
                </div>
            </div>
        </div>        
    </form>
{% endblock %}