{% extends 'base.html' %}

{% block titulo %}SGAB - Página Sobre{% endblock %}

{% block conteudo %}
  
    <h1><p class="text-center">Quem está acessando o sistema</p></h1>
    <br><br>

    <table class="table table-hover">
      <thead class="table-primary">
        <tr>
          <th scope="col">Usuário</th>
          <th scope="col">Nome</th>
          <th scope="col">Cargo</th>            
        </tr>
      </thead>
      <tbody>
        <tr>            
          <td>{{session.usuario}}</td>
          <td>{{session.nome}}</td>
          <td>{{session.cargo}}</td>
        </tr>                     
      </tbody>
    </table>

{% endblock %}